
@{
    ViewBag.Title = "Index";
}


<div id="Banner">




    <div id="Ban">
        <img id="Ima" src="~/image/home-slide-1.jpg" />


    </div>




</div>
<div id="titulo">
    <h1>Soluciones que no fallan</h1>

    <div id="botones">
        @* <a id="Button1"> @Html.ActionLink("Inicar Sesion", "Index", "Login")</a>*@

    </div>

</div>

<div id="Ancho">

    <div class="fichero">

        <div id="card1">

            @*  <div class="row">
                    <div class="col s2 ">
                        <div class="tar">

                            <div class="card-content black-text">
                                <div id="icon">
                                    <span class="material-icons"> monetization_on </span>
                                </div>
                           <span class="card-title">Pagos</span>
                            <p>
                               Gestione de manera efectiva los pagos de tiempo extra.
                            </p>
                                    </div>

                                </div>
                    </div>




                    <div class="col s2">
                        <div class="tar">
                            <div class="card-content black-text">
                                <div id="icon">
                                    <span class="material-icons"> local_cafe </span>
                                </div>
                                <span class="card-title"> Gestion de tiempo</span>
                                <p>
                                    Maneje los tiempos de las horas extras.
                                </p>
                            </div>
                        </div>
                    </div>




                    <div class="col s2 ">
                        <div class="tar">
                            <div class="card-content black-text">
                                <div id="icon">
                                    <span class="material-icons"> signal_cellular_alt </span>
                                </div>
                                <span class="card-title">Manejo de tareas</span>
                                <p>
                                    Revise las tareas asignadas de manera rápida.
                                </p>
                            </div>
                        </div>
                    </div>




                    <div class="col s2 ">
                        <div class="tar">
                            <div class="card-content black-text">
                                <div id="icon">
                                    <span class="material-icons"> business_center </span>
                                </div>
                                <span class="card-title">Evidencias</span>
                                <p>
                                    Control de evidencias de las tareas asignadas.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>*@


        </div>

        <div id="card2">

            <div id="Tarje">
                <div id="icon">
                    <span class="material-icons"> monetization_on </span>
                </div>
                <span class="card-title">Pagos</span>
                <p>
                    Gestione de manera efectiva los pagos de tiempo extra.
                </p>
            </div>

            <div id="Tarje">

                <div id="icon">
                    <span class="material-icons"> local_cafe </span>
                </div>
                <span class="card-title"> Gestion de tiempo</span>
                <p>
                    Maneje los tiempos de las horas extras.
                </p>

            </div>

            <div id="Tarje">

                <div id="icon">
                    <span class="material-icons"> signal_cellular_alt </span>
                </div>
                <span class="card-title">Manejo de tareas</span>
                <p>
                    Revise las tareas asignadas de manera rápida.
                </p>

            </div>

            <div id="Tarje">

                <div id="icon">
                    <span class="material-icons"> business_center </span>
                </div>
                <span class="card-title">Evidencias</span>
                <p>
                    Control de evidencias de las tareas asignadas.
                </p>

            </div>

        </div>


    </div>


</div>

<script src="~/Scripts/materialize.min.js"></script>