

#Content {
/*    width: 100%;
    margin-bottom: 100px;
    
    padding: 10px;*/

}

.form-group{
    

}

.Contenido {
    padding: 10px;
    background-color: hsla(205, 58%, 79%,0.8);
    /*background-color: rgba(109, 114, 119, 0.76);*/
    height: 60%;
    overflow: scroll;
    overflow-x: hidden;
    width: 50%;
    margin: auto;
    box-sizing: border-box;
    border-radius: 15px 15px;
}

    .Contenido select {
     
    }

    .Contenido input {
        color: black;
        text-align: center
    }


::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background-color: hsla(205, 58%, 79%,0.8);
    border-radius:0 15px 15px 0;
}


::-webkit-scrollbar-thumb {
    background: #25a2d8;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }




h2 {
    width: 100%;
    text-align: center
}

.form-group {
    font-size: 15px;
}

.Texto {
    width: 100%;
}



.btn {
    float: left;
    margin-bottom: 100px;
}

#devu {
    position: relative;
    float: left;
}
