body {
}

#ContentD {
    width: 100%;
    margin: auto;
    background-size: 100%;
    padding: 10px
}

.ContenidoD {
    padding: 10px;
    background-color: hsla(100,100%,50%,0.3);
    /*background-color: rgba(109, 114, 119, 0.76);*/
    height: 500px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px
}

dt {
    font-size: 15px;
    float: left;
    width: 100%;
    font-weight: bold;
}

dd {
    box-sizing: border-box;
    margin-bottom: 10px;
    width: auto;
    height: auto;
    left: 12px;
}

.myClass {
    font-size: 55px;
    box-sizing: border-box;
}

.dl-horizontal {
    box-sizing: border-box;
    margin: 10px;
}

p {
    font-size: 30px;
    text-align: center;
}

.form-actions {
    margin: auto;
    width: 100%
}

    .form-actions input {
        margin: auto;
        width: 20%
    }

#page-footer {
    position: absolute;
    bottom: 0px;
    height: 100px;
}
a {

    font-size: 20px;
    font-weight: 500;

}

@media only screen and (max-width: 1024px) {
    #ContentD {
        width: 100%;
        margin: auto;
        padding: 10px
    }

    p {
        font-size: 23px;
        text-align: center;
    }

    .ContenidoD {
        padding: 10px;
        background-color: hsla(100,100%,50%,0.3);
        /*background-color: rgba(109, 114, 119, 0.76);*/
        height: 600px;
        width: 50%;
        margin: auto;
        border-radius: 10px;
        margin-top: 20px
    }
    a {
        font-size: 10px;
        font-weight: 500;
    }
}


@media only screen and (max-width: 1440px) {
    .page-footer {
        margin-top: 50px;
        float: left;
        width: 100%;
        height: 90px;
        position: absolute;
        bottom: 0px;
        background-color: #37474F;
    }

    .ContenidoD {
        padding: 10px;
        background-color: hsla(100,100%,50%,0.3);
        /*background-color: rgba(109, 114, 119, 0.76);*/
        height: 600px;
        width: 50%;
        margin: auto;
        border-radius: 10px;
        margin-top: 20px
    }

    a {
        font-size: 20px;

        font-weight: 500;
    }
}
