.ContenidoI {
    padding: 10px;
    height: max-content;
    width: 70%;
    margin: auto;
    border-radius: 10px;
}

#pagina a {
    background-color: #03a9f4;
}

        #pagina a:hover {
            background-color: white;
            background-color: white;
            border: solid 2px #32a3d6;
            color: #32a3d6;
        }

table {
    background-color: white;
    border-radius: 10px;
}

    table th {
        background-color: #03a9f4;
        border: 1px solid #03a9f4;
        color: white;
        font-weight: bold;
        font-size: medium;
        padding: 20px;
    }


    table tr:nth-child(even) {
        background: #f2f2f5;
    }

td a {
    font-weight: bold;
    text-shadow: 2px 2px 4px white;
}
