.card {
    background-color: hsla(205, 58%, 79%,0.8) !important;
}

    .card:hover {
        background-color: hsla(205, 58%, 79%,0.9) !important;
    }



.ContenidoTar{
    display:inline-flex;
    order:3;

}
