body {
}
#Content {
    width: 100%;
    margin: auto;
    background-image: url(../image/depositphotos_46293115-stock-photo-tablet-pc-showing-calendar-on.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding:20px
    
}

h2{
    width:100%;
    text-align:center
}

.form-group{
    font-size:15px;
}
.Texto{
    width:100%;
}

.Contenido {
    padding: 10px;
    background-color: rgba(109, 114, 119, 0.76);
    height: 830px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}

.btn {
    float: left;
    margin-bottom: 100px;

}
#devu{ position:relative;
    float:left;
}



/*-------------------------------------------------------------------*/
/*------------------------- DELETE      ------------------------------*/
.ContenidoD {
    padding: 10px;
    background-color: rgba(109, 114, 119, 0.76);
    height: 500px;
    width: 50%;
    margin: auto;
    border-radius:10px;
    margin-top:20px
}

dt{
    font-size: 15px;
    float:left;
    
    width:100%;
    font-weight:bold;
}

dd {
    box-sizing: border-box;
    margin-bottom: 10px;
    width: auto;
    height:auto;
    left:12px;
}

.myClass {
    font-size: 55px;
    box-sizing: border-box;
}

.dl-horizontal{
    
    box-sizing:border-box;
    

}
p{
    font-size:30px;
    text-align:center;
}