@{
    ViewBag.Title = "Acerca De";
}

<div id="textoH">
    <br />
    <h2>@ViewBag.Title</h2>
</div>

<div id="ContentL">

    <div id="BanIn">
        <img id="Ima" src="~/image/about870x400.jpg" />
        <div id="derecha">
            <h2>Sistema de Gestión de Tiempos Extraordinarios</h2>
            <p>
                ¡Bienvenidos a la empresa líder del mercado! Nuestro éxito está impulsado por un servicio al cliente de la más alta calidad. Podemos cumplir con los requisitos incluso de los clientes caprichosos; ¡No hay tareas complejas para nosotros! ¡Gracias por tu elección! Nuestra empresa puede presumir de la reputación de ser un socio de confianza conocido en todo el mundo. Estamos orgullosos de la calidad sin concesiones. ¡Gracias por visitar nuestro sitio! ¡Usted está en el lugar correcto! Estamos enfocados en brindar soluciones y servicios integrados a clientes de todo el mundo. Dando prioridad a los intereses de nuestros clientes, trabajamos duro para superar sus expectativas.
            </p>
        </div>
    </div>
    



</div>