@{
    ViewBag.Title = "Acerca De";
}
<h2>@ViewBag.Title</h2>

<div id="Content">
    <div class="Contenido">
        <p>Proyecto Sitios Web</p>
        <p>Sistema de Gestión de Tiempos Extraordinarios</p>
    </div>
</div>