@{
    ViewBag.Title = "Acerca De";
}

<div id="textoH">
    <br />
    <h2>@ViewBag.Title</h2>
</div>

<div id="ContentL">

    <div id="BanIn">
        <img id="Ima" src="~/image/about870x400.jpg" />
        <div id="derecha">
            <h2>Sistema de Gestión de Tiempos Extraordinarios</h2>
            <p>
                Welcome to the leading company on the market! Our success is driven by the highest quality customer service. We can meet the requirements even of the whimsical clients; there are no complex tasks for us! Thanks for yourchoice! Our company can boast the reputation of the trusted partner known worldwide. We are proud of the uncompromising quality
                Thank you for visiting our site! You are at the right place! We are focused on providing integrated solutions and services to customers around the world. Putting our clients' interests first, we work hard to exceed your expectations.
            </p>
        </div>
    </div>
    



</div>