@model SistemaHE.Models.Cuentas
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blue-grey darken-3 center-align">

    <h2>Inicio de sesion</h2>

</div>

@Html.AntiForgeryToken()

<div class="ContenidoD  ">

    <form id="#frm" action="/" method="post">
        <div class="form-group">

            <input type="text" name="user" value="" placeholder="Ingrese su Identificacion" />
            <input type="text" name="pass" value="" placeholder="Ingrese su Contraseña" />
            <input type="submit" value="Ingresar" class="waves-button-input green darken-2" />

        </div>

    </form>
</div>






@section Scripts {
    <script>
            $(document).ready(function()
        {
            $("#frm").submit(function (e) {
                e.preventDefault();

                url = "@Url.Content("~/Login/Login")"
                parametros = $(this).serialize();
                $.post(url, parametros, function (data) {
                    if (data == "1") {
                        document.location.href = "@Url.Content("~/")";

                    } else {
                        alert(data)
                    }
                }
                )
            })
        })



    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
