
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout _ Funcionario.cshtml";
}

<div id="textoH">
    <br />
    <h2>Reportes Diarios</h2>
</div>

<div id="ContentL">




    <div class="ContenidoL">
        <h3>Nuevo Reporte</h3>
        <div class="row">
            <div id="formula" class="col s12">
                <div class="form-group">

                    <input type="file" name="doc" value="" />

                </div>
            </div>
        </div>
    </div>

</div>