
@{
    ViewBag.Title = "ReportesDIarios";
    Layout = "~/Views/Shared/_Layout _ Funcionario.cshtml";

}

<h2>ReportesDIarios</h2>

<div id="textoH">
    <br />
    <h2>Reportes Diarios</h2>

</div>



<br />
<div id="ContentL">

    <div class="ContenidoL">

        <table class="table">
            <tr>
                <th>
                    Nombre Completo
                </th>
                <th>
                    Jefe Inmediato
                <th>
                    Fecha
                </th>
                <th>
                    Reporte
                </th>

            </tr>

            <tr>
            </tr>


        </table>
        <div id="pagina">


            <a href="~/Views/Reportes/Create.cshtml">Nuevo Reporte</a>

        </div>
    </div>
</div>