@model SistemaHE.Models.Cuentas

@{
    ViewBag.Title = "Details";
}

<h2>Cuentas</h2>

<div>

    <hr />
    <div id="ContentD">
        <div class="ContenidoD">
            <p id="tecto">Detalles</p>

            <dl class="dl-horizontal">
                <dt>
                    Contraseña
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Contrasenna)
                </dd>

                <dt>
                    Nombre Completo
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuarios.Nombre_Completo)
                </dd>

            </dl>

            <p id="pagina">
                @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Cuenta }, htmlAttributes: new { @class = "waves-button-input btn-small light-blue darken-2  white-text" }) |
                @Html.ActionLink("Volver", "Index", null, htmlAttributes: new { @class = "waves-button-input btn-small light-blue darken-2  white-text" })
            </p>

        </div>
    </div>

</div>

