@model IEnumerable<SistemaHE.Models.Cuentas>

@{
    ViewBag.Title = "Administracion de Cuentas";
}
<div id="textoH">
    <br />
    <h2>Cuenta</h2>
</div>



<div id="ContentL">

    <div class="ContenidoL">
        <table class="table">
            <tr>
           
                <th>
                    Nombre Completo
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
          
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuarios.Nombre_Completo)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Cuentas", new { id = item.ID_Cuenta })">Nueva Contraseña
                            

                        </a>
                        @*<a href="@Url.Action("Details", "Cuentas", new { id = item.ID_Cuenta })">
                            <i class="material-icons">search</i>

                        </a>*@
                        @*<a href="@Url.Action("Delete", "Cuentas", new { id = item.ID_Cuenta })">
                            <i class="material-icons">delete</i>

                        </a>*@

                    </td>
                </tr>
            }

        </table>

    </div>
</div>